.main {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  min-height: 100vh;
}

.notes-column {
  flex: 1;
  flex-basis: 20%;
  padding: 0 1em;
  border: 1px solid red;
}

.note-column-item {
  padding: 1em;
}

a:not(:last-of-type) .note-column-item {
  border-bottom: 1px solid #ccc;
}

.selected-note {
  flex: 6;
  flex-basis: 75%;
  padding: 1em;
  border: 1px solid blue;
}
