.main {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  min-height: 100vh;
}

.notes-column {
  flex: 1;
  flex-basis: 15%;
  padding: 1em;
  border: 1px solid red;
}

.selected-note {
  flex: 6;
  flex-basis: 75%;
  padding: 1em;
  border: 1px solid blue;
}
